{% load i18n %}

<footer id="footer" class="root-sec white root-sec footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="clearfix footer-inner">
                    <ul class="left social-icons">
                        <li><a href="#" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                    <div class="right copyright">
                        <p>WellDone &copy; {% trans "All Rights Reserved" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>