a i{
  color: red;
}

div i{
  color: grey;
  size: 28px;
  margin-top: 5px;
  cursor: pointer;
}

span{
  color: grey;
}

.btn i{
  margin-top: 0;
  color: white;
}

.btn{
  padding-left: 15px;
  padding-right: 15px;
}
