/*

  Ãndice:
  =======

  1. Primary Styles

  2. Custom Utility Classes

  3. Header

  4. Categories Menu

  5. Footer Styles

  6. Custom Materialize

*/


/* --------------------------------- */
/* 1. Primary Styles
 ----------------------------------- */

html {
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css reset*/

img {
    max-width: 100%;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}


h2,
h3,
a {
    font-family: 'Roboto', sans-serif;
}

a {
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

p {
    line-height: 30px;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $secondary-color-dark;
    font-weight: 400;
    background-color: #fafafa;
}

#preloader {
  background: none repeat scroll 0 0 #fff;
  display: block;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

}

.circle-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 20%;
  width: 50px;
}

.circle-loader .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #3f88f8;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

/* --------------------------------- */
/* 2. Custom Utility Classes
 ----------------------------------- */

.padd-tb-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padd-tb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.padd-tb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padd-tb-73 {
    padding-top: 73px;
    padding-bottom: 73px;
}

.padd-tb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.row {
    margin-bottom: 0;
}


.bottom-50 {
    margin-bottom: 50px;
}

.btn-large {
    height: 50px;
    line-height: 50px;
    text-transform: inherit;
    margin-bottom: 0;
}

.container {
    position: relative;
}

.italic {
    font-style: italic;
}

.overflow-hidden {
    overflow: hidden;
}


.section-call-to-area {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    min-height: 1px;
}
.section-call-to-area .row {
    position: relative;
}

.section-call-to-btn:hover,
.section-call-to-btn {
    position: absolute;
    bottom: -25px;
    background-color: #fff;
}

.section-call-to-btn i {
    color: #444444;
}
.section-call-to-btn.button-middle {
    left: 50%;
    margin-left: -27px;
}
.section-call-to-btn.button-right-1 {
    right: 47px;
}
.section-call-to-btn.button-right-2 {
    right: 16px;
}


/*reusable classes */

.title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.regular-text {
    font-size: 16px;
    font-weight:400; 
}

.btn-large {
    text-transform: uppercase;
}

section.cyan {
    color: #fff;
}

.main-section {
    overflow: hidden;
}

section.brand-bg .title {
    color: #fff;
}

.inline-menu li a {
    font-size: 13px;
    font-weight: 500;
}


.btn-floating.btn-up {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-floating.btn-up,
.btn-floating.btn-hidden {
    -webkit-transition: all 1.3s ease;
            transition: all 1.3s ease;
}


.btn-hidden {
    -webkit-transform: translateX(1000px) !important;
        -ms-transform: translateX(1000px) !important;
            transform: translateX(1000px) !important;
}

.btn-floating.btn-show {
    -webkit-transition: all .3s ease !important;
            transition: all .3s ease !important;
}

.btn-floating.btn-large i {
    line-height: 59.5px;
}

/* --------------------------------- */
/* 3. Header
 ----------------------------------- */

header.nav {
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 999;
    -webkit-transition: top .5s;
            transition: top .5s;
}
header.nav.hide-menu {
    top: -90px;
}
.primary-nav {
    height: inherit;
    line-height: inherit;
    background-color: transparent!important;
    box-shadow: none;
}

.primary-nav .brand-logo {
    position: static;
    font-size: inherit;
}

.primary-nav .brand-logo img {
  height: 32px;
  margin: 25px 0px 0;
}

.static-menu {
    margin-left: 40px;
}

.static-menu li {
    margin-left: 10px;
}

.static-menu li:hover {
    background-color: transparent;
}

.static-menu li a {
    line-height: 27px;
    padding: 22px 0;
    font-size: 16px;
    color: #727272;
    border-bottom: 6px solid transparent;
    background-color: transparent;
}

.static-menu li i:hover,
.static-menu li a:hover {
    background-color: transparent;
}

.static-menu li a i {
    line-height: inherit;
    height: inherit;
    font-size: 25px;
    float: none!important;
    margin: 0;
    vertical-align: middle;
}

.static-menu {}
.static-menu form {
    width: 200px;
    position: relative;
    height: 80px;
    max-width: 100%;
    padding-left: 35px;
}

#initSearchIcon {
    cursor: pointer;
}

.static-menu .search {
    width: 100%;
    margin-bottom: 0;
    color: #212121;
    font-size: 15px;
    margin: 0;
    padding: 13px 0px;
}

.static-menu .search,
.static-menu .search:hover,
.static-menu .search:focus,
.static-menu .search:active {
    border: none;
    box-shadow: none;
}


.static-menu form button {
    line-height: inherit;
    height: inherit;
    border: none;
    padding: 19px 0;
    font-size: 14px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.static-menu form i {
    height: inherit;
    line-height: inherit;
    font-size: 26px;
    color: #727272;
}

.submenu-ul {
    min-width: 170px;
    overflow: visible!important;
    max-height: 100%;
    height: auto!important;
    padding: 20px;
}

.submenu-ul li {
    color: #cccbcb;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 21px;
}

.submenu-ul li:last-child {
    margin-bottom: 0;
}

.submenu-ul li:hover {
    background:transparent;
}

.submenu-ul li a {
    padding: 0;
    color: #727272;
    background-color: transparent;
    display: block;
    line-height: 1.1;
}

.submenu-ul li a:hover {
    background-color: transparent;
}

/* --------------------------------- */
/* 4. Categories Menu
 ----------------------------------- */

.categories-menu {
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s ease;
}

.categories-menu nav {
  box-shadow: none
}


/* --------------------------------- */
/* 5. Footer Styles
 ----------------------------------- */


.social-icons {
    float: left;
}
.copyright {
    float: right;
}
.footer-wrap {
    padding: 35px 0;
    margin-top: 30px;
}

.social-icons li a {
    color: #727272;
    font-size: 20px;
}

.social-icons li a.facebook:hover {
  color: #3b5998;
}

.social-icons li a.linkedin:hover {
  color: #0976b4;
}

.social-icons li a.twitter:hover {
  color: #55acee;
}

.social-icons li a.google-plus:hover {
  color: #dd4b39;
}

.social-icons li a.dribbble:hover {
  color: #ea4c89;
}

.social-icons li a.behance:hover {
  color: #1769ff;
}

.material-tooltip {
    background-color: #303030;
    padding: 5px;
    line-height: inherit;
    font-size: 13px;
    min-height: inherit;
}

.material-tooltip span {
    font-size: 13px;
}

.social-icons li {
    margin-right: 20px;
    display: inline-block;
}

.copyright p {
    color: #c4c4c4;
    font-size: 12px;
    line-height: 20px;
}


/* --------------------------------- */
/* 6. Custom Materialize
 ----------------------------------- */

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1170px;
    width: 90%;
}

@media only screen and (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px){
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

.container .row {
    margin-right:-15px;
    margin-left:-15px;
}

.row .col {
    padding-right: 15px;
    padding-left: 15px;
}

.side-nav {
    padding-top:20px;
}

.breadcrumbs-container {
  padding-bottom: 10px;
  border-bottom: solid 1px $secondary-color;
  margin-bottom: 20px;
}

.breadcrumbs li {
  float:left;
  line-height: 25px;
}

.breadcrumbs li:before {
  color: $primary-color-light;
  content: "\E5CC";
  vertical-align: top;
  display: inline-block;
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.breadcrumbs li:first-child:before {
  display:none;
}

.breadcrumb {
  color: $secondary-color;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
}

.breadcrumb:hover span {
  text-decoration: underline;
}

.breadcrumb:last-child {
  color: $secondary-color;
}

.breadcrumbs li:last-child .breadcrumb {
  color: rgba(136, 160, 168, 0.7);
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.owner_info .chip.with_action {
    padding: 0 2px 0 12px;
}

.blog-inner .card-content .owner_info .chip a,
.owner_info .chip a {
    display:inline-block;
    line-height: 34px;
    color: rgba(0,0,0,.6);
}

.owner_info .chip a img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.blog-inner .card-content .chip a.action_add_fav,
.blog-inner .card-content .chip a.action_remove_fav,
.owner_info .chip a.action_add_fav,
.owner_info .chip a.action_remove_fav{
    border-radius: 14px;
    line-height: 28px;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    float:right;
    margin-left: 6px;
    cursor: pointer;
}

.owner_info .chip a.action_add_fav {
    background-color: $secondary-color;
}

.owner_info .chip a.action_remove_fav {
    background-color: $primary-color;
}

.owner_info .chip a.action_add_fav:hover,
.owner_info .chip a.action_remove_fav:hover {
    background-color: $secondary-color-dark;
}

.owner_info .chip a.action_add_fav i,
.owner_info .chip a.action_remove_fav i{
    line-height: 28px;
}

.preloader-wrapper.small {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.underliner-loader {
  display: inline-block;
}

.spinner-white-only {
    border-color: #fff;
}

.spinner-brand-color-only {
  border-color: $primary-color;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.card {
    margin: 0;
}

.card-wrap {
  padding: 5px;
}

.card-wrap > div{
  padding: 15px;
}

.card .card-content p {
    line-height: inherit;
    color: #727272;
    font-size: 14px;
    margin-top: 10px;
}

.single-card-box .card .card-title i {
    color: #727272;
}

.card .card-content {
    padding: 9px 20px;
}
.single-card-box .card .card-title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card a {
    font-size: 14px;
    text-transform: inherit;
}

.card i {
    font-size: 24px;
}

.card .card-reveal {
    padding: 0;
}


.modal .model-img {
    padding: 5px 5px 0 5px;
    margin-bottom: 25px;
}

.modal .model-img img {
    width: 100%;
    height: auto;
}
.modal .title {
    font-size: 25px;
    color: #444444;
    line-height: 1.2;
    margin-bottom: 15px;
}
.modal .modal-content {
    padding: 0 20px 30px;
    border-bottom: 1px solid #eeeeee;


}
.modal .modal-content p {
    color: #727272;
    font-size: 14px;
    line-height: 30px;
}
.modal .modal-footer {
    padding: 10px 5px;
}
.modal .modal-footer .btn-flat {
    padding: 0 15px;
    font-weight: 500;
    font-size: 14px;
}



@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #000;
}

@-webkit-keyframes dash {
  0%   {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0%   {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}


/* Add your CSS below */












#switch {
    background: #fff;
    position: fixed;
    display: none;
    bottom: 20%;
    z-index: 99999;
    width: 350px;
    margin-right: -300px;
    font-family: inherit;
    right: 0px;
    box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.3);
    border-radius: 2px;
}

#switch p {
    margin-bottom: 10px;
    padding-bottom: 6px;
    padding-top: 10px;
    border-bottom: #ededed 1px solid;
    font-size: 14px;
    text-transform: uppercase;
}

#switch ul li {
    text-transform:uppercase;
    margin-bottom:0;
    font-size:12px;
    display:inline-block;
}

#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}

#show {
    z-index: 9999;
    position: fixed;
    right: 20px;
    top: 20%;
    background-color: #fff;
}

#show i {
    font-size: 20px;
}

#switch ul li:first-child a {
    margin-left: 0px;
}

#hide {
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 30px;
    top: 7px;
    right: 7px;
    color: #777;
    border-radius: 0 5px 0px 0;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.wrap_pattern,
.switchlayout {
    margin-bottom:10px;
}
.wrap_pattern p {
    margin-bottom: 5px!important;
}
.content-switcher {
    padding: 16px;
    overflow: hidden;
}
.content-switcher .m-btn {
    padding: 5px 10px;
    font-size: 12px;
    min-width: 70px;
}

.button.small.color.switch {
    font-size: 12px;
    text-transform: none;
    width: 40px;
    margin: 5px 0px;
    font-weight: normal;
    font-family: 'Open Sans';
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) !important;
    letter-spacing: 0;
}

#hide img {
    height:30px;
    width:30px;
    opacity:0.3;
    filter: alpha(opacity=30);
    -webkit-transition:all 0.3s ease 0s;
            transition:all 0.3s ease 0s;
}

#hide img:hover {
    opacity:0.7;
    filter: alpha(opacity=70);
}


#switch .button {
    cursor: pointer;
    display: inline-block;
    margin-left:5px;
    margin-top:5px;
    height: 15px;
    padding: 5px;
    width: 15px;
}

#switch p {
    margin:5px 0;
}

.styled-select select {
    background:#f5f5f5;
    border:#ededed 1px solid;
    width: 270px;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    outline:none;
    border-radius: 3px;
    height: 34px;
    -webkit-appearance: none;
    margin:10px 0;
}

.home-options {
    position:relative;
    width:100%;
    margin-top:10px;
    text-align:center;
    margin:0 auto;
}
.home-options a{
    background: #f5f5f5;
    border: #ededed 1px solid;
    font-size: 13px;
    padding: 5px 15px;
    line-height: 2;
    outline: none;
    text-align: center;
    color: #000;
    display: block;
    margin-bottom: 10px;
}
.home-options a:hover{
    background:#f1f1f1;
}

.menu-select {
    margin-bottom: 7px;
}

.menu-select label {
    font-weight: 500;
    font-size: 12px !important;
    color: #666;
    margin-bottom: 0px;
    text-transform: uppercase;
}


.menu-select [type="radio"]:not(:checked) + label:before {
    border-color: #999;
}